.main {
  margin: auto;
  width: 100%;
  display: flex;
  max-width: 100%;
  color: #d7d7d7;
  justify-content: center;
  background-color: #1c1c2c;
}

.main div {
  margin: 25px;
  cursor: pointer;
}

.main div:hover {
  color: rgba(168, 168, 168);
}
